<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
    <header>
      <div class="header bg-deepcolor">
          <nav class="navbar d-flex jc-between al-center">
              <h1><a class="logo" href="index.html">LOGO</a></h1>
              <ul class="header-btn d-flex jc-between al-cente">
                  <li><a href="serise.html">系列鏡框</a></li>
                  <li><a href="store.html">門市據點</a></li>
                  <li><a href="bolg.html">部落格</a></li>
                  <li><a href="qa.html">常見問題</a></li>
              </ul>
          </nav>
      </div>
    </header>

  <%- contents %>

  <footer class="bg-deepcolor footer">
    <div class="container">
        <div class="footer-bar d-flex jc-between al-center">
            <ul class="footer-info d-flex jc-between al-center">
                <li><a href="index.html">首頁</a></li>
                <li><a href="series.html">系列鏡框</a></li>
                <li><a href="store.html">門市據點</a></li>
                <li><a href="bolg.html">部落格</a></li>
                <li><a href="qa.html">常見問題</a></li>
            </ul>
            <ul class="footer-icon d-flex jc-between al-center">
                <li><a href=".facebook.html"><i class="fab fa-facebook fa-2x"></i></a></li>
                <li><a href=".instagram.html"><i class="fab fa-instagram fa-2x"></i></a></li>
                <li><a href=".line.html"><i class="fab fa-line fa-2x"></i></a></li>
            </ul>
        </div>
        <ul class="content-info">
            <li><i class="fas fa-phone-alt"> 0800-000-000</i></li>
            <li><i class="far fa-envelope"> glasses@business.com</i></li>
        </ul>
        <div class="statement d-flex jc-between al-center">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="statement-info d-flex jc-between al-center">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
